<div class="container" style="padding: 10px;align-self: center">
    <div class="jumbotron" style="background-image: url(https://us.123rf.com/450wm/tirachard/tirachard1802/tirachard180200064/95656773-creative-flat-lay-photo-of-workspace-desk-top-view-office-desk-with-laptop-blank-empty-notebooks-and.jpg?ver=6);margin-top: 30px; padding: 150px;image-resolution: inherit">

<h1 style="color: black;margin-top: 30px;text-align: right">Hello...!</h1>    
<h2 style="color: black;text-align: right">Welcome to myPortFolio</h2>
<p style="color: black;text-align: right">Easy way to create your amazing portfolio...</p>
</div>
</div>
